body{
    background-color: cadetblue;
    margin: 0px;
    padding: 0px;
}

.container{
    display: grid;
    grid-template-rows: 50px 700px;

}

#pic{
    background: url('../../images/login.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.login{
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: chartreuse;
}

.Header-main{
    margin: 0px;
    background-color: grey;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.Header-main a{
    margin-left: 30px;
}

.Header-logo h1{
    margin: 0px;

}

/* .header{
    margin-bottom: 100px;
} */
